{:paths ["src"]
 :deps
 {org.clojure/clojure    {:mvn/version "1.11.4"}
  weavejester/dependency {:mvn/version "0.2.1"}}
 :aliases
 {:dev  {:extra-deps {org.clojure/clojurescript {:mvn/version "1.11.132"}}}
  :test {:extra-paths ["test"]}}}
